.icon {
  height: 20px;
  width: 20px;
}

.header__socials {
  display: flex;
  column-gap: 1.75rem;
  margin: 1.5rem 0;
  justify-content: center;
}

.header__social_link {
  color: var(--title-color);
  font-size: 1.3rem;
  transition: 0.3s;
}

.header__social_link:hover {
  /* TODO: Make hover social images */
  color: hsl(43, 100%, 68%);
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .home__social_link {
    font-size: 1.125rem;
  }
}
